{
	"minify": true,
	"jsc": {
		"parser": {
			"syntax": "typescript",
			"tsx": false,
			"decorators": true,
			"dynamicImport": true,
			"sourceMaps": true
		},
		"target": "es2022"
	},
	"module": {
		"type": "commonjs",
		"strictMode": true,
		"lazy": true
	}
}
